*{
    margin: 0;
    padding: 0;
}

.mainheader{
    top: 0;
    width: 100%;
    height: 12%;
    background-color: #CCECF9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainlogo{
    font-size: 4vh;
}