* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
}
.memoSet_box {                             
    width: 100%;
    height: 82%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, auto));
    /* background-color: aqua; */
}
.add_memoSet {
    width: 180px;
    height: 180px;
    border: 7px solid #000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.popup_input {
    position: fixed;
    left: 30%;
    width: 40%;
    height: 40%;
    bottom: 30%;
    background-color: rgb(186, 216, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.popup_input p {
    font-size: 3vh;
    margin-bottom: 3%;
}
.no_input {
    position: fixed;
    z-index: 1;
    color: red;
}
.setNameInput {
    padding-left: 5%;
    height: 40%;
    width: 80%;
    font-size: 7vh;
    border-radius: 30px;
    border: none;
    margin-bottom: 3%;
}
.popup_input input:focus {
    border: none;
}
.popup_input div {
    margin-top: 3%;
    width: 50%;
    height: 20%;
    background-color: white;
    border-radius: 1000px;
    text-align: center;
    line-height: 250%;
    font-size: 3vh;
    cursor: pointer;
}
.pop_submit {
    width: fit-content;
    font-size: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}