* {
    margin: 0;
    padding: 0;
}
.memoset_container {
    width: 100%;
    height: 100vh;
    background-color: #f5f7fb;
    
}
.memoSet_box {      
    margin-top: 130px;                       
    width: auto;
    height: 45%;
    display: flex;
    justify-content: center;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.long_memoSet_box {      
    margin-top: 130px;                       
    width: auto;
    height: 45%;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.memoSet_box::-webkit-scrollbar {
    display: none;
}
.long_memoSet_box::-webkit-scrollbar {
    display: none;
}
.wordSet_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-bottom: 0;
    cursor: pointer;
}
.add_memoSet {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 40px;
}
.popup_input {
    position: fixed;
    left: 30%;
    width: 40%;
    height: 40%;
    bottom: 30%;
    background-color: #1f8bf7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.popup_input p {
    font-size: 3.5vh;
    font-weight: 700;
    margin-bottom: 3%;
}
.no_input {
    position: fixed;
    z-index: 1;
    color: red;
}
.setNameInput {
    padding-left: 5%;
    height: 40%;
    width: 80%;
    font-size: 7vh;
    border-radius: 30px;
    border: none;
    margin-bottom: 3%;
}
.popup_input input:focus {
    border: none;
}
.popup_input div {
    margin-top: 3%;
    width: 50%;
    height: 20%;
    background-color: white;
    border-radius: 1000px;
    text-align: center;
    line-height: 250%;
    font-size: 3vh;
    cursor: pointer;
}
.pop_submit {
    width: fit-content;
    font-size: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.noset{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}