* {
    margin: 0;
    padding: 0;
}
.wordSet_box {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.wordSet_box span {
    font-size: 40px;
}
.wordSet_box div {
    border: 5px solid #000;
    border-radius: 25px;
    width: 200px;
    height: 100%;
}